.amitie-broken {
  color    : #ef5350;
  margin   : 12px 0px 6px;
  font-size: 110%;
}

.amitie-head {
  opacity: .8;
}

.amitie-blocks div:before {
  content: '-';
  margin : 0 6px;
}

.answer {
  margin-left: 16px;
}

.witch-map-container canvas {
  max-width : 100%;
  border    : 1px solid #777;
  background: #0005 url(https://playorna.com/static//img/light.png) no-repeat;
}

.open-on-github {
  margin: 16px 0;
}
