.amitie-broken {
  color    : #ef5350;
  margin   : 12px 0px 6px;
  font-size: 110%;
}

.amitie-head {
  opacity: .8;
}

.amitie-blocks div:before {
  content: '-';
  margin : 0 6px;
}

.answer {
  margin-left: 16px;
}

.open-on-github {
  margin: 16px 0;
}
