.questions {
  display         : flex;
  flex-direction  : column;
  background-color: #fff1;
  padding         : 2px;
  border-radius   : 12px;
}

.question-content {
  display       : flex;
  flex-direction: column;
  margin        : 6px 8px;
}

.question,
.answer {
  background-color: #342828cc;
  border-color    : #252122;
  padding         : 12px 10px;
  display         : inline-block;
  border-radius   : 4px;
  user-select     : none;
}

.question:hover,
.answer:hover {
  cursor    : pointer;
  background: #34282899;
}

.answers {
  display: none;
  padding: 6px 0px 6px 24px;
}

.answer {
  margin: 6px 0;
}

.answer.active,
.answer:last-child {
  margin-bottom: 0;
}

.question-content.active .answers {
  display       : flex;
  flex-direction: column;
  padding-bottom: 0;
}

.arrow-back {
  display: none;
}

.active .question .arrow-back,
.answer.active .arrow-back {
  display: inline;
}

.amitie-info {
  display       : flex;
  flex-direction: column;
}

.upload-results {
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.upload-canvas {
  max-width : 100%;
  border    : 1px solid #777;
  margin-top: 8px;
}

.amitie-canvas-error {
  margin: 12px;
  color : #ef5350;
}

.recognizing-text {
  display       : flex;
  flex-direction: column;
  margin-top    : 12px;
  width         : 100%;
  align-items   : center;
}

.recognizing-lang {
  display    : flex;
  column-gap : 12px;
  align-items: baseline;
}

.recognizing-text-error {
  color: #ef5350;
}

.recognizing-text-log {
  white-space: pre;
  text-align : center;
  padding    : 6px;
}

.amitie-results {
  display       : flex;
  flex-direction: column;
  row-gap       : 12px;
  margin-top    : 16px;
}

.time-field {
  display    : flex;
  align-items: baseline;
}

.time-select {
  margin-left : 4px;
  margin-right: 4px;
}

.time-file {
  font-size: 75%;
  opacity  : 0.5;
}

.quality-field {
  display    : flex;
  column-gap : 12px;
  row-gap    : 6px;
  align-items: baseline;
  flex-wrap  : wrap;
}

.amitie-text-results {
  display       : flex;
  flex-direction: column;
  row-gap       : 8px;
}

.amitie-text-results-field {
  display       : flex;
  flex-direction: column;
}

.amitie-text-results-label {
  font-size  : 13px;
  font-weight: bold;
}

.additional-labels,
.clone-field,
.clone-amitie-list,
.map-label-tabs,
.other-map-list {
  display    : flex;
  column-gap : 12px;
  row-gap    : 6px;
  align-items: baseline;
  flex-wrap  : wrap;
}

.clone-amitie-list-items {
  width         : 100%;
  display       : flex;
  flex-direction: column;
  row-gap       : 8px;
}

.other-map-list-items {
  display       : flex;
  flex-direction: column;
  row-gap       : 8px;
}

.clone-amitie {
  display    : flex;
  align-items: baseline;
  column-gap : 8px;
  flex-wrap  : wrap;
}

.map-label-tabs {
  margin-top: 8px;
}
