.time-lap-text {
  text-align : center;
  white-space: nowrap;
  margin     : 0 8px;
}

.time-lap-button {
  text-align : center;
  white-space: nowrap;
  padding    : 4px 8px;
  margin     : 12px 0;
}

.current-time {
  font-size  : 14px;
  width      : 54px;
  text-align : center;
  white-space: nowrap;
  margin     : 0 8px;
}

.amitie-list {
  display       : flex;
  flex-direction: column;
  flex-grow     : 1;
}

.amitie-list-middle {
  flex-grow      : 1;
  align-items    : center;
  justify-content: center;
  display        : flex;
}

.sticky-footer {
  margin-top: 72px;
}

.nav-time-container {
  position      : fixed;
  bottom        : 0;
  display       : flex;
  flex-direction: row;
  align-items   : center;
  justify-self  : center;
}

.add-amitie-button {
  height       : 48px;
  width        : 48px;
  border-radius: 24px;
  align-items  : center;
  font-size    : 24px;
}

.question {
  margin        : 6px 0 8px;
  border-bottom : 1px solid #686262;
  font-size     : 18px;
  padding-bottom: 4px;
}

.answer {
  margin     : 0 0 4px 16px;
  display    : flex;
  align-items: baseline;
}

.answer .text-button {
  margin: 0 8px;
}

.amitie-row {
  margin: 0 0 12px 32px;
}
