.time-lap-text {
  text-align : center;
  white-space: nowrap;
  margin     : 0 8px;
}

.time-lap-button {
  position   : fixed;
  bottom     : 0;
  text-align : center;
  white-space: nowrap;
  padding    : 2px 4px;
  margin     : 22px;
}

.time-lap-button-l {
  margin-left: -112px;
}

.time-lap-button-r {
  margin-right: -112px;
}

.current-time {
  font-size  : 14px;
  width      : 54px;
  text-align : center;
  white-space: nowrap;
  margin     : 0 8px;
}

.amitie-list {
  display       : flex;
  flex-direction: column;
  flex-grow     : 1;
}

.amitie-list-middle {
  flex-grow      : 1;
  align-items    : center;
  justify-content: center;
  display        : flex;
}

.sticky-footer {
  margin-top: 68px;
}

.add-amitie-button {
  position     : fixed;
  bottom       : 0;
  height       : 44px;
  width        : 44px;
  border-radius: 22px;
  align-items  : center;
  font-size    : 22px;
}

.question {
  margin        : 6px 0 8px;
  border-bottom : 1px solid #686262;
  font-size     : 18px;
  padding-bottom: 4px;
}

.answer {
  margin     : 0 0 4px 16px;
  display    : flex;
  align-items: baseline;
}

.answer .text-button {
  margin: 0 8px;
}

.amitie-row {
  margin: 0 0 12px 32px;
}
