.main-content {
  margin: 0 1px;
}

.summary-table {
  display              : grid;
  grid-template-columns: repeat(24, 1fr);
  min-width            : min-content;
  gap                  : 1px;
}

.summary-table:first-child {
  padding-top     : 1px;
  position        : sticky;
  top             : 42px;
  background-color: #362e2b;
  z-index         : 50;
}

.summary-table>* {
  box-shadow: 0 0 0 1px #c2bfbf;
  width     : 5.8vw;
  z-index   : 2;
  box-sizing: border-box;
}

.summary-table>*.skipped {
  box-shadow: 0 0 0 1px #565151;
  z-index   : 1;
}

@media screen and (max-width: 4900px) {
  .summary-table>* {
    width: 6.2vw;
  }
}

@media screen and (max-width: 4600px) {
  .summary-table>* {
    width: 6.6vw;
  }
}

@media screen and (max-width: 4300px) {
  .summary-table>* {
    width: 7.1vw;
  }
}

@media screen and (max-width: 4000px) {
  .summary-table>* {
    width: 7.6vw;
  }
}

@media screen and (max-width: 3700px) {
  .summary-table>* {
    width: 8.3vw;
  }
}

@media screen and (max-width: 3400px) {
  .summary-table>* {
    width: 9vw;
  }
}

@media screen and (max-width: 3100px) {
  .summary-table>* {
    width: 10vw;
  }
}

@media screen and (max-width: 2800px) {
  .summary-table>* {
    width: 11.1vw;
  }
}

@media screen and (max-width: 2500px) {
  .summary-table>* {
    width: 12.5vw;
  }
}

@media screen and (max-width: 2200px) {
  .summary-table>* {
    width: 14.2vw;
  }
}

@media screen and (max-width: 1900px) {
  .summary-table>* {
    width: 16.6vw;
  }
}

@media screen and (max-width: 1600px) {
  .summary-table>* {
    width: 20vw;
  }
}

@media screen and (max-width: 1300px) {
  .summary-table>* {
    width: 25vw;
  }
}

@media screen and (max-width: 1000px) {
  .summary-table>* {
    width: 33.3vw;
  }
}

@media screen and (max-width: 700px) {
  .summary-table>* {
    width: 50vw;
  }
}

.summary-head {
  text-align: center;
  font-size : 120%;
  padding   : 4px 6px;
}

.summary-question-container {
  padding      : 4px 6px;
  border-top   : 1px solid #c2bfbf;
  margin-bottom: 6px;
}

.summary-question-container:first-child {
  border: none;
}

.summary-question-container:last-child {
  padding-bottom: 50px;
}

.summary-question {
  font-size    : 120%;
  white-space  : nowrap;
  border-bottom: 1px solid #686262;
  color        : #64b5f6;
  font-weight  : bold;
  padding      : 4px 0px 2px 0px;
}

.summary-answer {
  display       : flex;
  flex-direction: column;
  gap           : 4px;
  margin-top    : 6px;
}

.summary-question+.summary-answer {
  margin-top: 2px;
}

.summary-answer-title {
  border-bottom : 1px solid #686262;
  padding-bottom: 2px;
  margin-bottom : 2px;
  white-space   : nowrap;
  color         : #64b5f6;
}

.skipped {
  opacity: .5;
}

.summary-table-middle {
  grid-column    : 1 / 25;
  grid-row       : 1;
  width          : auto;
  box-shadow     : none;
  align-items    : center;
  justify-content: center;
  display        : flex;
  padding-top    : calc(50vh - 66px);
}

input[type=text].summary-table-search {
  background-color: #362e2b;
  font-size       : 120%;
}

.summary-table-search {
  position  : fixed;
  z-index   : 1000;
  bottom    : 12px;
  left      : 33vw;
  right     : 33vw;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
  opacity   : .75;
}

.summary-table-search:focus {
  left   : 12px;
  right  : 12px;
  opacity: 1;
}
