.main-content {
  text-overflow: ellipsis;
  overflow-x   : scroll;
}

.summary-table {
  display              : grid;
  grid-template-columns: repeat(24, max-content);
  gap                  : 6px;
  padding              : 8px 0;

}
