.questions {
  display         : flex;
  flex-direction  : column;
  background-color: #fff1;
  padding         : 2px;
  border-radius   : 12px;
}

.question-content {
  display       : flex;
  flex-direction: column;
  margin        : 6px 8px;
}

.question,
.answer {
  background   : #342828;
  border-color : #252122;
  padding      : 12px 10px;
  display      : inline-block;
  border-radius: 4px;
  user-select  : none;
}

.question:hover,
.answer:hover {
  cursor    : pointer;
  background: #34282899;
}

.answers {
  display: none;
  padding: 6px 0px 6px 24px;
}

.answer {
  margin: 6px 0;
}

.answer.active,
.answer:last-child {
  margin-bottom: 0;
}

.question-content.active .answers {
  display       : flex;
  flex-direction: column;
  padding-bottom: 0;
}

.arrow-back {
  display: none;
}

.active .question .arrow-back,
.answer.active .arrow-back {
  display: inline;
}

.amitie-upload-field {
  display       : flex;
  flex-direction: column;
  text-align    : center;
  padding       : 6px;
  border        : dashed 1px #fff;
  font-size     : 90%;
  border-radius : 8px;
  opacity       : 0.5;
  user-select   : none;
}

.amitie-file-name {
  font-weight: bold;
  font-size  : 90%;
}

.amitie-upload-field.dragenter,
.amitie-upload-field:hover {
  cursor : pointer;
  opacity: 1;
}

.time-field {
  margin     : 12px 0;
  display    : flex;
  align-items: baseline;
}

.time-select {
  margin-left : 4px;
  margin-right: 4px;
}

.time-file {
  font-size: 75%;
  opacity  : 0.5;
}

.amitie-file {
  display: none;
}

.amitie-results {
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.amitie-canvas {
  max-width : 100%;
  border    : 1px solid;
  margin-top: 4px;
}

.recognizing-text-log {
  white-space: pre;
  text-align : center;
  padding    : 6px;
}

.amitie-text-results {
  display       : flex;
  flex-direction: column;
  width         : 100%;
}

.amitie-text-results-label {
  font-size    : 13px;
  margin-bottom: 2px;
  font-weight  : bold;
}

.amitie-text-results-field {
  margin-bottom: 6px;
}
